@page
@model IndexModel
@{
    ViewData["Title"] = "支付产品";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-page="/Index">首页</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-page="/WeChatPay/Index">微信支付</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
    </ol>
</nav>
<div class="mb-3">
    <div class="accordion" id="accordionPayments">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseJsapiPay" aria-expanded="false" aria-controls="collapseJsapiPay">
                    JSAPI支付
                </button>
            </h2>
            <div id="collapseJsapiPay" class="accordion-collapse collapse" data-bs-parent="#accordionPayments">
                <div class="accordion-body">
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            JSAPI下单
                            <div class="btn-group">
                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4012791856" target="_blank">查看文档</a>
                                <a class="btn btn-link btn-sm" asp-page="/WeChatPay/Payments/JsapiPrepay">去调试</a>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            JSAPI调起支付
                            <div class="btn-group">
                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4012791857" target="_blank">查看文档</a>
                                <a class="btn btn-link btn-sm disabled" href="#">去调试</a>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            微信支付订单号查询订单
                            <div class="btn-group">
                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4012791858" target="_blank">查看文档</a>
                                <a class="btn btn-link btn-sm" asp-page="/WeChatPay/Payments/QueryByTransactionId">去调试</a>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            商户订单号查询订单
                            <div class="btn-group">
                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4012791859" target="_blank">查看文档</a>
                                <a class="btn btn-link btn-sm" asp-page="/WeChatPay/Payments/QueryByOutTradeNo">去调试</a>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            关闭订单
                            <div class="btn-group">
                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4012791860" target="_blank">查看文档</a>
                                <a class="btn btn-link btn-sm" asp-page="/WeChatPay/Payments/Close">去调试</a>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            支付成功回调通知
                            <div class="btn-group">
                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4012791861" target="_blank">查看文档</a>
                                <a class="btn btn-link btn-sm disabled" href="#">去调试</a>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            退款申请
                            <div class="btn-group">
                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4012791862" target="_blank">查看文档</a>
                                <a class="btn btn-link btn-sm" asp-page="/WeChatPay/Payments/Refund">去调试</a>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            查询单笔退款（通过商户退款单号）
                            <div class="btn-group">
                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4012791863" target="_blank">查看文档</a>
                                <a class="btn btn-link btn-sm" asp-page="/WeChatPay/Payments/RefundQueryByOutRefundNo">去调试</a>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            发起异常退款
                            <div class="btn-group">
                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4012791864" target="_blank">查看文档</a>
                                <a class="btn btn-link btn-sm" asp-page="/WeChatPay/Payments/AbnormalRefund">去调试</a>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            退款结果回调通知
                            <div class="btn-group">
                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4012791865" target="_blank">查看文档</a>
                                <a class="btn btn-link btn-sm disabled" href="#">去调试</a>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            申请交易账单
                            <div class="btn-group">
                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4012791866" target="_blank">查看文档</a>
                                <a class="btn btn-link btn-sm" asp-page="/WeChatPay/Payments/TradeBill">去调试</a>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            申请资金账单
                            <div class="btn-group">
                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4012791867" target="_blank">查看文档</a>
                                <a class="btn btn-link btn-sm" asp-page="/WeChatPay/Payments/FundFlowBill">去调试</a>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            下载账单
                            <div class="btn-group">
                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4012791868" target="_blank">查看文档</a>
                                <a class="btn btn-link btn-sm" asp-page="/WeChatPay/Payments/DownloadBill">去调试</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseAppPay" aria-expanded="false" aria-controls="collapseAppPay">
                    APP支付
                </button>
            </h2>
            <div id="collapseAppPay" class="accordion-collapse collapse" data-bs-parent="#accordionPayments">
                <div class="accordion-body">
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            APP下单
                            <div class="btn-group">
                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4013070347" target="_blank">查看文档</a>
                                <a class="btn btn-link btn-sm" asp-page="/WeChatPay/Payments/AppPrepay">去调试</a>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            APP调起支付
                            <div class="btn-group">
                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4013070351" target="_blank">查看文档</a>
                                <a class="btn btn-link btn-sm disabled" href="#">去调试</a>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            微信支付订单号查询订单
                            <div class="btn-group">
                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4013070354" target="_blank">查看文档</a>
                                <a class="btn btn-link btn-sm" asp-page="/WeChatPay/Payments/QueryByTransactionId">去调试</a>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            商户订单号查询订单
                            <div class="btn-group">
                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4013070356" target="_blank">查看文档</a>
                                <a class="btn btn-link btn-sm" asp-page="/WeChatPay/Payments/QueryByOutTradeNo">去调试</a>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            关闭订单
                            <div class="btn-group">
                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4013070360" target="_blank">查看文档</a>
                                <a class="btn btn-link btn-sm" asp-page="/WeChatPay/Payments/Close">去调试</a>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            支付成功回调通知
                            <div class="btn-group">
                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4013070368" target="_blank">查看文档</a>
                                <a class="btn btn-link btn-sm disabled" href="#">去调试</a>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            退款申请
                            <div class="btn-group">
                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4013070371" target="_blank">查看文档</a>
                                <a class="btn btn-link btn-sm" asp-page="/WeChatPay/Payments/Refund">去调试</a>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            查询单笔退款（通过商户退款单号）
                            <div class="btn-group">
                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4013070374" target="_blank">查看文档</a>
                                <a class="btn btn-link btn-sm" asp-page="/WeChatPay/Payments/RefundQueryByOutRefundNo">去调试</a>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            发起异常退款
                            <div class="btn-group">
                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4012791864" target="_blank">查看文档</a>
                                <a class="btn btn-link btn-sm" asp-page="/WeChatPay/Payments/AbnormalRefund">去调试</a>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            退款结果回调通知
                            <div class="btn-group">
                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4013070388" target="_blank">查看文档</a>
                                <a class="btn btn-link btn-sm disabled" href="#">去调试</a>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            申请交易账单
                            <div class="btn-group">
                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4013070395" target="_blank">查看文档</a>
                                <a class="btn btn-link btn-sm" asp-page="/WeChatPay/Payments/TradeBill">去调试</a>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            申请资金账单
                            <div class="btn-group">
                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4013070400" target="_blank">查看文档</a>
                                <a class="btn btn-link btn-sm" asp-page="/WeChatPay/Payments/FundFlowBill">去调试</a>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            下载账单
                            <div class="btn-group">
                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4013070401" target="_blank">查看文档</a>
                                <a class="btn btn-link btn-sm" asp-page="/WeChatPay/Payments/DownloadBill">去调试</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseH5Pay" aria-expanded="false" aria-controls="collapseH5Pay">
                    H5支付
                </button>
            </h2>
            <div id="collapseH5Pay" class="accordion-collapse collapse" data-bs-parent="#accordionPayments">
                <div class="accordion-body">
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            H5下单
                            <div class="btn-group">
                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4012791834" target="_blank">查看文档</a>
                                <a class="btn btn-link btn-sm" asp-page="/WeChatPay/Payments/H5Prepay">去调试</a>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            H5调起支付
                            <div class="btn-group">
                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4012791835" target="_blank">查看文档</a>
                                <a class="btn btn-link btn-sm disabled" href="#">去调试</a>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            微信支付订单号查询订单
                            <div class="btn-group">
                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4012791837" target="_blank">查看文档</a>
                                <a class="btn btn-link btn-sm" asp-page="/WeChatPay/Payments/QueryByTransactionId">去调试</a>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            商户订单号查询订单
                            <div class="btn-group">
                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4012791838" target="_blank">查看文档</a>
                                <a class="btn btn-link btn-sm" asp-page="/WeChatPay/Payments/QueryByOutTradeNo">去调试</a>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            关闭订单
                            <div class="btn-group">
                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4012791839" target="_blank">查看文档</a>
                                <a class="btn btn-link btn-sm" asp-page="/WeChatPay/Payments/Close">去调试</a>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            支付成功回调通知
                            <div class="btn-group">
                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4012791836" target="_blank">查看文档</a>
                                <a class="btn btn-link btn-sm disabled" href="#">去调试</a>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            退款申请
                            <div class="btn-group">
                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4012810597" target="_blank">查看文档</a>
                                <a class="btn btn-link btn-sm" asp-page="/WeChatPay/Payments/Refund">去调试</a>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            查询单笔退款（通过商户退款单号）
                            <div class="btn-group">
                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4012810601" target="_blank">查看文档</a>
                                <a class="btn btn-link btn-sm" asp-page="/WeChatPay/Payments/RefundQueryByOutRefundNo">去调试</a>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            发起异常退款
                            <div class="btn-group">
                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4012810603" target="_blank">查看文档</a>
                                <a class="btn btn-link btn-sm" asp-page="/WeChatPay/Payments/AbnormalRefund">去调试</a>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            退款结果回调通知
                            <div class="btn-group">
                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4012810605" target="_blank">查看文档</a>
                                <a class="btn btn-link btn-sm disabled" href="#">去调试</a>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            申请交易账单
                            <div class="btn-group">
                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4012810606" target="_blank">查看文档</a>
                                <a class="btn btn-link btn-sm" asp-page="/WeChatPay/Payments/TradeBill">去调试</a>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            申请资金账单
                            <div class="btn-group">
                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4012810609" target="_blank">查看文档</a>
                                <a class="btn btn-link btn-sm" asp-page="/WeChatPay/Payments/FundFlowBill">去调试</a>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            下载账单
                            <div class="btn-group">
                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4012810615" target="_blank">查看文档</a>
                                <a class="btn btn-link btn-sm" asp-page="/WeChatPay/Payments/DownloadBill">去调试</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNativePay" aria-expanded="true" aria-controls="collapseNativePay">
                    Native支付
                </button>
            </h2>
            <div id="collapseNativePay" class="accordion-collapse collapse" data-bs-parent="#accordionPayments">
                <div class="accordion-body">
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Native下单
                            <div class="btn-group">
                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4012791877" target="_blank">查看文档</a>
                                <a class="btn btn-link btn-sm" asp-page="/WeChatPay/Payments/NativePrepay">去调试</a>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Native调起支付
                            <div class="btn-group">
                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4012791878" target="_blank">查看文档</a>
                                <a class="btn btn-link btn-sm disabled" href="#">去调试</a>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            微信支付订单号查询订单
                            <div class="btn-group">
                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4012791879" target="_blank">查看文档</a>
                                <a class="btn btn-link btn-sm" asp-page="/WeChatPay/Payments/QueryByTransactionId">去调试</a>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            商户订单号查询订单
                            <div class="btn-group">
                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4012791880" target="_blank">查看文档</a>
                                <a class="btn btn-link btn-sm" asp-page="/WeChatPay/Payments/QueryByOutTradeNo">去调试</a>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            关闭订单
                            <div class="btn-group">
                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4012791881" target="_blank">查看文档</a>
                                <a class="btn btn-link btn-sm" asp-page="/WeChatPay/Payments/Close">去调试</a>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            支付成功回调通知
                            <div class="btn-group">
                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4012791882" target="_blank">查看文档</a>
                                <a class="btn btn-link btn-sm disabled" href="#">去调试</a>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            退款申请
                            <div class="btn-group">
                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4012791883" target="_blank">查看文档</a>
                                <a class="btn btn-link btn-sm" asp-page="/WeChatPay/Payments/Refund">去调试</a>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            查询单笔退款（通过商户退款单号）
                            <div class="btn-group">
                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4012791884" target="_blank">查看文档</a>
                                <a class="btn btn-link btn-sm" asp-page="/WeChatPay/Payments/RefundQueryByOutRefundNo">去调试</a>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            发起异常退款
                            <div class="btn-group">
                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4012791885" target="_blank">查看文档</a>
                                <a class="btn btn-link btn-sm" asp-page="/WeChatPay/Payments/AbnormalRefund">去调试</a>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            退款结果回调通知
                            <div class="btn-group">
                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4012791886" target="_blank">查看文档</a>
                                <a class="btn btn-link btn-sm disabled" href="#">去调试</a>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            申请交易账单
                            <div class="btn-group">
                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4012791887" target="_blank">查看文档</a>
                                <a class="btn btn-link btn-sm" asp-page="/WeChatPay/Payments/TradeBill">去调试</a>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            申请资金账单
                            <div class="btn-group">
                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4012791888" target="_blank">查看文档</a>
                                <a class="btn btn-link btn-sm" asp-page="/WeChatPay/Payments/FundFlowBill">去调试</a>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            下载账单
                            <div class="btn-group">
                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4012791889" target="_blank">查看文档</a>
                                <a class="btn btn-link btn-sm" asp-page="/WeChatPay/Payments/DownloadBill">去调试</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMiniProgramPay" aria-expanded="false" aria-controls="collapseMiniProgramPay">
                    小程序支付
                </button>
            </h2>
            <div id="collapseMiniProgramPay" class="accordion-collapse collapse" data-bs-parent="#accordionPayments">
                <div class="accordion-body">
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            小程序支付
                            <div class="btn-group">
                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4012791897" target="_blank">查看文档</a>
                                <a class="btn btn-link btn-sm" asp-page="/WeChatPay/Payments/JsapiPrepay">去调试</a>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            小程序调起支付
                            <div class="btn-group">
                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4012791898" target="_blank">查看文档</a>
                                <a class="btn btn-link btn-sm disabled" href="#">去调试</a>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            微信支付订单号查询订单
                            <div class="btn-group">
                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4012791899" target="_blank">查看文档</a>
                                <a class="btn btn-link btn-sm" asp-page="/WeChatPay/Payments/QueryByTransactionId">去调试</a>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            商户订单号查询订单
                            <div class="btn-group">
                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4012791900" target="_blank">查看文档</a>
                                <a class="btn btn-link btn-sm" asp-page="/WeChatPay/Payments/QueryByOutTradeNo">去调试</a>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            关闭订单
                            <div class="btn-group">
                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4012791901" target="_blank">查看文档</a>
                                <a class="btn btn-link btn-sm" asp-page="/WeChatPay/Payments/Close">去调试</a>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            支付成功回调通知
                            <div class="btn-group">
                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4012791902" target="_blank">查看文档</a>
                                <a class="btn btn-link btn-sm disabled" href="#">去调试</a>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            退款申请
                            <div class="btn-group">
                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4012791903" target="_blank">查看文档</a>
                                <a class="btn btn-link btn-sm" asp-page="/WeChatPay/Payments/Refund">去调试</a>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            查询单笔退款（通过商户退款单号）
                            <div class="btn-group">
                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4012791904" target="_blank">查看文档</a>
                                <a class="btn btn-link btn-sm" asp-page="/WeChatPay/Payments/RefundQueryByOutRefundNo">去调试</a>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            发起异常退款
                            <div class="btn-group">
                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4012791905" target="_blank">查看文档</a>
                                <a class="btn btn-link btn-sm" asp-page="/WeChatPay/Payments/AbnormalRefund">去调试</a>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            退款结果回调通知
                            <div class="btn-group">
                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4012791906" target="_blank">查看文档</a>
                                <a class="btn btn-link btn-sm disabled" href="#">去调试</a>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            申请交易账单
                            <div class="btn-group">
                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4012791907" target="_blank">查看文档</a>
                                <a class="btn btn-link btn-sm" asp-page="/WeChatPay/Payments/TradeBill">去调试</a>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            申请资金账单
                            <div class="btn-group">
                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4012791908" target="_blank">查看文档</a>
                                <a class="btn btn-link btn-sm" asp-page="/WeChatPay/Payments/FundFlowBill">去调试</a>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            下载账单
                            <div class="btn-group">
                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4012791909" target="_blank">查看文档</a>
                                <a class="btn btn-link btn-sm" asp-page="/WeChatPay/Payments/DownloadBill">去调试</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCodePay" aria-expanded="false" aria-controls="collapseCodePay">
                    付款码支付
                </button>
            </h2>
            <div id="collapseCodePay" class="accordion-collapse collapse" data-bs-parent="#accordionPayments">
                <div class="accordion-body">
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            付款码支付
                            <div class="btn-group">
                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4012382150" target="_blank">查看文档</a>
                                <a class="btn btn-link btn-sm" asp-page="/WeChatPay/Payments/CodePay">去调试</a>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            撤销
                            <div class="btn-group">
                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4012382161" target="_blank">查看文档</a>
                                <a class="btn btn-link btn-sm" asp-page="/WeChatPay/Payments/Reverse">去调试</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCombinePay" aria-expanded="false" aria-controls="collapseCombinePay">
                    合单支付
                </button>
            </h2>
            <div id="collapseCombinePay" class="accordion-collapse collapse" data-bs-parent="#accordionPayments">
                <div class="accordion-body">
                    <div class="accordion" id="accordionCombinePay">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCombineAppPay" aria-expanded="false" aria-controls="collapseAppPay">
                                    APP合单支付
                                </button>
                            </h2>
                            <div id="collapseCombineAppPay" class="accordion-collapse collapse" data-bs-parent="#accordionCombineAppPay">
                                <div class="accordion-body">
                                    <ul class="list-group">
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            App合单下单
                                            <div class="btn-group">
                                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4012556944" target="_blank">查看文档</a>
                                                <a class="btn btn-link btn-sm disabled" href="#">去调试</a>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            APP调起支付
                                            <div class="btn-group">
                                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4012266043" target="_blank">查看文档</a>
                                                <a class="btn btn-link btn-sm disabled" href="#">去调试</a>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            查询合单订单
                                            <div class="btn-group">
                                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4012557006" target="_blank">查看文档</a>
                                                <a class="btn btn-link btn-sm disabled" href="#">去调试</a>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            关闭合单订单
                                            <div class="btn-group">
                                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4012577452" target="_blank">查看文档</a>
                                                <a class="btn btn-link btn-sm disabled" href="#">去调试</a>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            合单订单支付成功回调通知
                                            <div class="btn-group">
                                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4012158598" target="_blank">查看文档</a>
                                                <a class="btn btn-link btn-sm disabled" href="#">去调试</a>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            退款申请
                                            <div class="btn-group">
                                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4012556524" target="_blank">查看文档</a>
                                                <a class="btn btn-link btn-sm" asp-page="/WeChatPay/Payments/Refund">去调试</a>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            查询单笔退款（通过商户退款单号）
                                            <div class="btn-group">
                                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4012556587" target="_blank">查看文档</a>
                                                <a class="btn btn-link btn-sm" asp-page="/WeChatPay/Payments/RefundQueryByOutRefundNo">去调试</a>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            发起异常退款
                                            <div class="btn-group">
                                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4013420988" target="_blank">查看文档</a>
                                                <a class="btn btn-link btn-sm" asp-page="/WeChatPay/Payments/AbnormalRefund">去调试</a>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            退款结果通知
                                            <div class="btn-group">
                                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4012085921" target="_blank">查看文档</a>
                                                <a class="btn btn-link btn-sm disabled" href="#">去调试</a>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            申请交易账单
                                            <div class="btn-group">
                                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4012556692" target="_blank">查看文档</a>
                                                <a class="btn btn-link btn-sm" asp-page="/WeChatPay/Payments/TradeBill">去调试</a>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            申请资金账单
                                            <div class="btn-group">
                                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4012556748" target="_blank">查看文档</a>
                                                <a class="btn btn-link btn-sm" asp-page="/WeChatPay/Payments/FundFlowBill">去调试</a>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            下载账单
                                            <div class="btn-group">
                                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4012085923" target="_blank">查看文档</a>
                                                <a class="btn btn-link btn-sm" asp-page="/WeChatPay/Payments/DownloadBill">去调试</a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCombineH5Pay" aria-expanded="false" aria-controls="collapseAppPay">
                                    H5合单支付
                                </button>
                            </h2>
                            <div id="collapseCombineH5Pay" class="accordion-collapse collapse" data-bs-parent="#accordionCombineH5Pay">
                                <div class="accordion-body">
                                    <ul class="list-group">
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            H5合单下单
                                            <div class="btn-group">
                                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4012556961" target="_blank">查看文档</a>
                                                <a class="btn btn-link btn-sm disabled" href="#">去调试</a>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            H5调起支付
                                            <div class="btn-group">
                                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4012266131" target="_blank">查看文档</a>
                                                <a class="btn btn-link btn-sm disabled" href="#">去调试</a>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            查询合单订单
                                            <div class="btn-group">
                                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4013421126" target="_blank">查看文档</a>
                                                <a class="btn btn-link btn-sm disabled" href="#">去调试</a>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            关闭合单订单
                                            <div class="btn-group">
                                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4013421130" target="_blank">查看文档</a>
                                                <a class="btn btn-link btn-sm disabled" href="#">去调试</a>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            合单订单支付成功回调通知
                                            <div class="btn-group">
                                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4013421143" target="_blank">查看文档</a>
                                                <a class="btn btn-link btn-sm disabled" href="#">去调试</a>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            退款申请
                                            <div class="btn-group">
                                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4013421148" target="_blank">查看文档</a>
                                                <a class="btn btn-link btn-sm" asp-page="/WeChatPay/Payments/Refund">去调试</a>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            查询单笔退款（通过商户退款单号）
                                            <div class="btn-group">
                                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4013421156" target="_blank">查看文档</a>
                                                <a class="btn btn-link btn-sm" asp-page="/WeChatPay/Payments/RefundQueryByOutRefundNo">去调试</a>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            发起异常退款
                                            <div class="btn-group">
                                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4013421164" target="_blank">查看文档</a>
                                                <a class="btn btn-link btn-sm" asp-page="/WeChatPay/Payments/AbnormalRefund">去调试</a>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            退款结果通知
                                            <div class="btn-group">
                                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4013421172" target="_blank">查看文档</a>
                                                <a class="btn btn-link btn-sm disabled" href="#">去调试</a>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            申请交易账单
                                            <div class="btn-group">
                                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4013421176" target="_blank">查看文档</a>
                                                <a class="btn btn-link btn-sm" asp-page="/WeChatPay/Payments/TradeBill">去调试</a>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            申请资金账单
                                            <div class="btn-group">
                                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4013421185" target="_blank">查看文档</a>
                                                <a class="btn btn-link btn-sm" asp-page="/WeChatPay/Payments/FundFlowBill">去调试</a>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            下载账单
                                            <div class="btn-group">
                                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4013421189" target="_blank">查看文档</a>
                                                <a class="btn btn-link btn-sm" asp-page="/WeChatPay/Payments/DownloadBill">去调试</a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCombineJsapiPay" aria-expanded="false" aria-controls="collapseAppPay">
                                    JSAPI合单支付
                                </button>
                            </h2>
                            <div id="collapseCombineJsapiPay" class="accordion-collapse collapse" data-bs-parent="#accordionCombineJsapiPay">
                                <div class="accordion-body">
                                    <ul class="list-group">
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            JSAPI合单下单
                                            <div class="btn-group">
                                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4012556926" target="_blank">查看文档</a>
                                                <a class="btn btn-link btn-sm disabled" href="#">去调试</a>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            JSAPI调起支付
                                            <div class="btn-group">
                                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4012266069" target="_blank">查看文档</a>
                                                <a class="btn btn-link btn-sm disabled" href="#">去调试</a>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            查询合单订单
                                            <div class="btn-group">
                                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4013421222" target="_blank">查看文档</a>
                                                <a class="btn btn-link btn-sm disabled" href="#">去调试</a>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            关闭合单订单
                                            <div class="btn-group">
                                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4013421225" target="_blank">查看文档</a>
                                                <a class="btn btn-link btn-sm disabled" href="#">去调试</a>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            合单订单支付成功回调通知
                                            <div class="btn-group">
                                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4013421231" target="_blank">查看文档</a>
                                                <a class="btn btn-link btn-sm disabled" href="#">去调试</a>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            退款申请
                                            <div class="btn-group">
                                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4013421249" target="_blank">查看文档</a>
                                                <a class="btn btn-link btn-sm" asp-page="/WeChatPay/Payments/Refund">去调试</a>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            查询单笔退款（通过商户退款单号）
                                            <div class="btn-group">
                                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4013421261" target="_blank">查看文档</a>
                                                <a class="btn btn-link btn-sm" asp-page="/WeChatPay/Payments/RefundQueryByOutRefundNo">去调试</a>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            发起异常退款
                                            <div class="btn-group">
                                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4013421269" target="_blank">查看文档</a>
                                                <a class="btn btn-link btn-sm" asp-page="/WeChatPay/Payments/AbnormalRefund">去调试</a>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            退款结果通知
                                            <div class="btn-group">
                                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4013421273" target="_blank">查看文档</a>
                                                <a class="btn btn-link btn-sm disabled" href="#">去调试</a>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            申请交易账单
                                            <div class="btn-group">
                                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4013421277" target="_blank">查看文档</a>
                                                <a class="btn btn-link btn-sm" asp-page="/WeChatPay/Payments/TradeBill">去调试</a>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            申请资金账单
                                            <div class="btn-group">
                                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4013421284" target="_blank">查看文档</a>
                                                <a class="btn btn-link btn-sm" asp-page="/WeChatPay/Payments/FundFlowBill">去调试</a>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            下载账单
                                            <div class="btn-group">
                                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4013421294" target="_blank">查看文档</a>
                                                <a class="btn btn-link btn-sm" asp-page="/WeChatPay/Payments/DownloadBill">去调试</a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCombineNativePay" aria-expanded="false" aria-controls="collapseAppPay">
                                    Native合单支付
                                </button>
                            </h2>
                            <div id="collapseCombineNativePay" class="accordion-collapse collapse" data-bs-parent="#accordionCombineNativePay">
                                <div class="accordion-body">
                                    <ul class="list-group">
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            Native合单下单
                                            <div class="btn-group">
                                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4012556982" target="_blank">查看文档</a>
                                                <a class="btn btn-link btn-sm disabled" href="#">去调试</a>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            Native调起支付
                                            <div class="btn-group">
                                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4012266088" target="_blank">查看文档</a>
                                                <a class="btn btn-link btn-sm disabled" href="#">去调试</a>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            查询合单订单
                                            <div class="btn-group">
                                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4013421316" target="_blank">查看文档</a>
                                                <a class="btn btn-link btn-sm disabled" href="#">去调试</a>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            关闭合单订单
                                            <div class="btn-group">
                                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4013421330" target="_blank">查看文档</a>
                                                <a class="btn btn-link btn-sm disabled" href="#">去调试</a>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            合单订单支付成功回调通知
                                            <div class="btn-group">
                                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4013421336" target="_blank">查看文档</a>
                                                <a class="btn btn-link btn-sm disabled" href="#">去调试</a>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            退款申请
                                            <div class="btn-group">
                                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4013421340" target="_blank">查看文档</a>
                                                <a class="btn btn-link btn-sm" asp-page="/WeChatPay/Payments/Refund">去调试</a>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            查询单笔退款（通过商户退款单号）
                                            <div class="btn-group">
                                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4013421346" target="_blank">查看文档</a>
                                                <a class="btn btn-link btn-sm" asp-page="/WeChatPay/Payments/RefundQueryByOutRefundNo">去调试</a>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            发起异常退款
                                            <div class="btn-group">
                                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4013421352" target="_blank">查看文档</a>
                                                <a class="btn btn-link btn-sm" asp-page="/WeChatPay/Payments/AbnormalRefund">去调试</a>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            退款结果通知
                                            <div class="btn-group">
                                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4013421356" target="_blank">查看文档</a>
                                                <a class="btn btn-link btn-sm disabled" href="#">去调试</a>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            申请交易账单
                                            <div class="btn-group">
                                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4013421361" target="_blank">查看文档</a>
                                                <a class="btn btn-link btn-sm" asp-page="/WeChatPay/Payments/TradeBill">去调试</a>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            申请资金账单
                                            <div class="btn-group">
                                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4013421365" target="_blank">查看文档</a>
                                                <a class="btn btn-link btn-sm" asp-page="/WeChatPay/Payments/FundFlowBill">去调试</a>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            下载账单
                                            <div class="btn-group">
                                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4013421368" target="_blank">查看文档</a>
                                                <a class="btn btn-link btn-sm" asp-page="/WeChatPay/Payments/DownloadBill">去调试</a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCombineMiniProgramPay" aria-expanded="false" aria-controls="collapseAppPay">
                                    小程序合单支付
                                </button>
                            </h2>
                            <div id="collapseCombineMiniProgramPay" class="accordion-collapse collapse" data-bs-parent="#accordionCombineMiniProgramPay">
                                <div class="accordion-body">
                                    <ul class="list-group">
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            小程序合单下单
                                            <div class="btn-group">
                                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4012556931" target="_blank">查看文档</a>
                                                <a class="btn btn-link btn-sm disabled" href="#">去调试</a>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            小程序调起支付
                                            <div class="btn-group">
                                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4012266109" target="_blank">查看文档</a>
                                                <a class="btn btn-link btn-sm disabled" href="#">去调试</a>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            查询合单订单
                                            <div class="btn-group">
                                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4013421401" target="_blank">查看文档</a>
                                                <a class="btn btn-link btn-sm disabled" href="#">去调试</a>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            关闭合单订单
                                            <div class="btn-group">
                                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4013421404" target="_blank">查看文档</a>
                                                <a class="btn btn-link btn-sm disabled" href="#">去调试</a>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            合单订单支付成功回调通知
                                            <div class="btn-group">
                                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4013421407" target="_blank">查看文档</a>
                                                <a class="btn btn-link btn-sm disabled" href="#">去调试</a>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            退款申请
                                            <div class="btn-group">
                                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4013421410" target="_blank">查看文档</a>
                                                <a class="btn btn-link btn-sm" asp-page="/WeChatPay/Payments/Refund">去调试</a>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            查询单笔退款（通过商户退款单号）
                                            <div class="btn-group">
                                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4013421421" target="_blank">查看文档</a>
                                                <a class="btn btn-link btn-sm" asp-page="/WeChatPay/Payments/RefundQueryByOutRefundNo">去调试</a>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            发起异常退款
                                            <div class="btn-group">
                                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4013421429" target="_blank">查看文档</a>
                                                <a class="btn btn-link btn-sm" asp-page="/WeChatPay/Payments/AbnormalRefund">去调试</a>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            退款结果通知
                                            <div class="btn-group">
                                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4013421448" target="_blank">查看文档</a>
                                                <a class="btn btn-link btn-sm disabled" href="#">去调试</a>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            申请交易账单
                                            <div class="btn-group">
                                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4013421450" target="_blank">查看文档</a>
                                                <a class="btn btn-link btn-sm" asp-page="/WeChatPay/Payments/TradeBill">去调试</a>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            申请资金账单
                                            <div class="btn-group">
                                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4013421456" target="_blank">查看文档</a>
                                                <a class="btn btn-link btn-sm" asp-page="/WeChatPay/Payments/FundFlowBill">去调试</a>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            下载账单
                                            <div class="btn-group">
                                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4013421461" target="_blank">查看文档</a>
                                                <a class="btn btn-link btn-sm" asp-page="/WeChatPay/Payments/DownloadBill">去调试</a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseRefund" aria-expanded="false" aria-controls="collapseRefund">
                    订单退款
                </button>
            </h2>
            <div id="collapseRefund" class="accordion-collapse collapse" data-bs-parent="#accordionPayments">
                <div class="accordion-body">
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            退款申请
                            <div class="btn-group">
                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4013071036" target="_blank">查看文档</a>
                                <a class="btn btn-link btn-sm" asp-page="/WeChatPay/Payments/Refund">去调试</a>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            查询单笔退款（通过商户退款单号）
                            <div class="btn-group">
                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4013071041" target="_blank">查看文档</a>
                                <a class="btn btn-link btn-sm" asp-page="/WeChatPay/Payments/RefundQueryByOutRefundNo">去调试</a>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            发起异常退款
                            <div class="btn-group">
                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4013071193" target="_blank">查看文档</a>
                                <a class="btn btn-link btn-sm" asp-page="/WeChatPay/Payments/AbnormalRefund">去调试</a>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            退款结果通知
                            <div class="btn-group">
                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4013071196" target="_blank">查看文档</a>
                                <a class="btn btn-link btn-sm disabled" href="#">去调试</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseBill" aria-expanded="false" aria-controls="collapseBill">
                    下载账单
                </button>
            </h2>
            <div id="collapseBill" class="accordion-collapse collapse" data-bs-parent="#accordionPayments">
                <div class="accordion-body">
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            申请交易账单
                            <div class="btn-group">
                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4013071227" target="_blank">查看文档</a>
                                <a class="btn btn-link btn-sm" asp-page="/WeChatPay/Payments/TradeBill">去调试</a>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            申请资金账单
                            <div class="btn-group">
                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4013071235" target="_blank">查看文档</a>
                                <a class="btn btn-link btn-sm" asp-page="/WeChatPay/Payments/FundFlowBill">去调试</a>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            下载账单
                            <div class="btn-group">
                                <a class="btn btn-link btn-sm" href="https://pay.weixin.qq.com/doc/v3/merchant/4013071238" target="_blank">查看文档</a>
                                <a class="btn btn-link btn-sm" asp-page="/WeChatPay/Payments/DownloadBill">去调试</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
